<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911559933850-jpb3enp89v5c5k6mutm5clvftcj1c9f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911559933850-jpb3enp89v5c5k6mutm5clvftcj1c9f3</string>
	<key>API_KEY</key>
	<string>AIzaSyBcuJeK8YOEpEn0ayQNB08BrfTRLpC41qs</string>
	<key>GCM_SENDER_ID</key>
	<string>911559933850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtk.VideoGamesApp</string>
	<key>PROJECT_ID</key>
	<string>videogamesappios</string>
	<key>STORAGE_BUCKET</key>
	<string>videogamesappios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911559933850:ios:f058d11b19e9edf6890423</string>
</dict>
</plist>